@extends('layouts.front')
@section('content')
  <div class="main">
    <div class="container">
      <div class="crumbsbar w-clearfix">
        <div class="crumbsbar__wrapper">
          <div data-delay="200" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>Las Vegas, NV</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list"><a href="car-rentals.html"
                  class="crumbsbar__link crumbsbar__link--inline w-inline-block">
                  <div>Las Vegas, NV</div>
                </a></div>
            </nav>
          </div><img
            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a5f52c6915f44000178c85e_right arrow.svg"
            alt="" class="crumbsbar__divider" />
          <div data-delay="0" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>Autocycle</div>
              <div>s</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="car-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Cars</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="suv-rentals.html"
                        class="crumbsbar__link w-dropdown-link">SUVs</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="autocycle-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Autocycle</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="motorcycle-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Motorcycles</a></div>
                  </div>
                </div>
              </div>
            </nav>
          </div><img
            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a5f52c6915f44000178c85e_right arrow.svg"
            alt="" class="crumbsbar__divider w-condition-invisible" />
          <div data-delay="0" data-hover="1" class="crumbsbar__dropdown w-condition-invisible w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>All </div>
              <div>Slingshot</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="open-air-roadster-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Open Air Roadsters</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="three-wheel-motorcycle-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Three-wheel Motorcycle</a></div>
                  </div>
                </div>
              </div>
            </nav>
          </div><img
            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a5f52c6915f44000178c85e_right arrow.svg"
            alt="" class="crumbsbar__divider" />
          <div data-delay="0" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>Slingshot</div>
              <div class="w-condition-invisible">All Brands</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="vanderhall-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Vanderhall</a></div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="browse">
        <div class="browse__nav">
          <div class="browse__heading">
            <div class="browse__heading--embed w-condition-invisible w-embed">
              <h1 class="browse__h1">Autocycle Rentals</h1>
            </div>
            <div class="browse__heading--embed w-condition-invisible w-embed">
              <h1 class="browse__h1"> Rentals</h1>
            </div>
            <div class="browse__heading--embed w-embed">
              <h1 class="browse__h1">Slingshot Rentals</h1>
            </div>
            <div class="browse__heading--embed w-condition-invisible w-embed">
              <h1 class="browse__h1"> Rentals</h1>
            </div>
            <p class="browse__desc w-condition-invisible">Driving an autocycle is like starring in a Mad Max movie.
              They&#x27;re three-wheeled trikes with two seats, lots of horsepower, and a top-end that&#x27;s faster
              than most sports cars!</p>
            <p class="browse__desc w-condition-invisible w-dyn-bind-empty"></p>
            <p class="browse__desc w-dyn-bind-empty"></p>
            <p class="browse__desc w-condition-invisible w-dyn-bind-empty"></p>
          </div>
          <div class="quicklinks quicklinks__browse w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item"><a href="slingshot-rentals.html" aria-current="page"
                  class="quicklinks__link w-inline-block w--current"><img
                    src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                    alt="Slingshot" class="quicklinks__logo" />
                  <div class="quicklinks__details">
                    <div>Slingshot</div>
                    <div class="quicklinks__desc">SRL, SL, ICON</div>
                  </div>
                </a></div>
              <div role="listitem" class="w-dyn-item"><a href="vanderhall-rentals.html"
                  class="quicklinks__link w-inline-block"><img
                    src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a10aaa4d85f4b0001a53cb2_vanderhall-light.svg"
                    alt="Vanderhall" class="quicklinks__logo" />
                  <div class="quicklinks__details">
                    <div>Vanderhall</div>
                    <div class="quicklinks__desc">Laguna, Venice</div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
        <div class="browse__pane">
          <div class="w-dyn-list">
            <div class="cards__list--empty w-dyn-empty"></div>
          </div>
          <div class="w-dyn-list">
            <div class="cards__list--empty w-dyn-empty"></div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="rent__list w-dyn-items">
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2016-slingshot-green-automatic.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-green-automatic">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-green-automatic" data-reach-trending-hide>Automatic
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a541f8_2016-polaris-slingshot-green-car-hero-image-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54367_2016-polaris-slingshot-green-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54365_2016-polaris-slingshot-green-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Automatic Slingshot</div>
                      <div>4 Hrs: $</div>
                      <div>349</div>
                      <div>    |    8 Hrs: $</div>
                      <div>399</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>399</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2016-slingshot-sl-white-automatic.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-sl-white-automatic">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-sl-white-automatic" data-reach-trending-hide>Automatic
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54212_2016-polaris-slingshot-sl-white-car-hero-image-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a545bf_2016-polaris-slingshot-sl-white-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a545be_2016-polaris-slingshot-sl-white-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Automatic Slingshot</div>
                      <div>4 Hrs: $</div>
                      <div>349</div>
                      <div>    |    8 Hrs: $</div>
                      <div>399</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>399</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2016-slingshot-sl-blue-white-automatic.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-sl-blue-white-automatic">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-sl-blue-white-automatic" data-reach-trending-hide>
                        Automatic</div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54204_2016-polaris-slingshot-sl-blue-white-car-hero-image-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54354_2016-polaris-slingshot-sl-blue-white-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a5435b_2016-polaris-slingshot-sl-blue-white-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Automatic Slingshot</div>
                      <div>4 Hrs: $</div>
                      <div>349</div>
                      <div>    |    8 Hrs: $</div>
                      <div>399</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>399</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">449</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2018-slingshot-sl-icon-orange-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-sl-icon-orange-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-sl-icon-orange-manual" data-reach-trending-hide>Manual
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5bd35caa16a7aec3e8f9da07__0006_SPD03174.jpg" alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5bd35d33c2d2251db4ae7e3c__0036_SPD03122.jpg" alt=""
                        class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5d8aa3c9aad9234a3a5573a2_Exterior%20(%20Side%20Profile%20).jpg" alt=""
                        class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SL ICON</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2018-slingshot-slr-black-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-slr-black-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-slr-black-manual" data-reach-trending-hide>Manual</div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a541ea_2016-polaris-slingshot-sl-black-car-hero-image-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a5458d_2016-polaris-slingshot-sl-black-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a5458f_2016-polaris-slingshot-sl-black-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SLR</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2018-slingshot-slr-orange-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-slr-orange-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-slr-orange-manual" data-reach-trending-hide>Manual
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5bd35caa16a7aec3e8f9da07__0006_SPD03174.jpg" alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5bd35d33c2d2251db4ae7e3c__0036_SPD03122.jpg" alt=""
                        class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5bd35d27a4e4ab77ff9a8a46__0037_SPD03120.jpg" alt=""
                        class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SLR</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2018-slingshot-sl-icon-white-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-sl-icon-white-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-sl-icon-white-manual" data-reach-trending-hide>Manual
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5b3a4f1fc0be080a7f15b11b_icon-white-exterior-front-angle.jpg" alt=""
                        class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5af4b85f8e26d5e6c489982a_2018-slingshot-sl-icon-white-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5af4b878eee51091b2ba2850_2018-slingshot-sl-icon-white-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SL ICON</div>
                      <div>4 Hrs: $</div>
                      <div>2489</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2018-slingshot-slr-le-green-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-slr-le-green-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2018-slingshot-slr-le-green-manual" data-reach-trending-hide>Manual
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5b3a4e0a996571450bd56f15__0018_SPD00011.jpg" alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5b3a4def996571d5e0d56eb0__0014_SPD00018.jpg" alt=""
                        class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5b3a4d92b496c589e970c57f__0002_Layer%201.jpg" alt=""
                        class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SLR LE</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2017-slingshot-slr-orange-black-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2017-slingshot-slr-orange-black-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2017-slingshot-slr-orange-black-manual" data-reach-trending-hide>
                        Manual</div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54296_2017-polaris-slingshot-slr-orange-car-hero-image-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a54297_2017-polaris-slingshot-slr-orange-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a542a0_2017-polaris-slingshot-slr-orange-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SLR</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2017-slingshot-orange.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2017-slingshot-orange">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2017-slingshot-orange" data-reach-trending-hide>Automatic</div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a1f5173ec2b9b000156c93b_2017-polaris-slingshot-manual-orange-exterior-front-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a1f51e94e116a0001397fbe_2017-polaris-slingshot-manual-orange-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a1f51fd4e116a0001397fc4_2017-polaris-slingshot-manual-orange-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SL</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2017-slingshot-slr-gray-black-manual.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2017-slingshot-slr-gray-black-manual">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2017-slingshot-slr-gray-black-manual" data-reach-trending-hide>Manual
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a3b35de8573530001a15dc8_2017-polaris-slingshot-slr-manual-black-gray-exterior-front-angle-low-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a3b371f58c9f00001465221_2017-polaris-slingshot-slr-manual-black-gray-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a3b373e47e7b20001fa8549_2017-polaris-slingshot-slr-manual-black-gray-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Slingshot SLR</div>
                      <div>4 Hrs: $</div>
                      <div>249</div>
                      <div>    |    8 Hrs: $</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>349</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">499</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../autocycle-rentals/2016-slingshot-sl-orange-automatic.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a6e504610ba5800018a6d47_brand-slingshot-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-sl-orange-automatic">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/autocycle-rentals"
                        data-reach-trending-slug="2016-slingshot-sl-orange-automatic" data-reach-trending-hide>Automatic
                      </div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a541fb_2015-polaris-slingshot-sl-orange-car-hero-image-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a543a8_2015-polaris-slingshot-sl-orange-exterior-back-angle-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5a10aaa4d85f4b0001a5439f_2015-polaris-slingshot-sl-orange-exterior-profile-royalty-exotic-cars.jpg"
                        alt="" class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Automatic Slingshot</div>
                      <div>4 Hrs: $</div>
                      <div>239</div>
                      <div>    |    8 Hrs: $</div>
                      <div>339</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>339</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">449</div>
                      </div>
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
          <div class="w-dyn-list">
            <div class="cards__list--empty w-dyn-empty"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @endsection