@extends('layouts.front')
@section('content')
  <div class="main">
    <div class="container">
      <div class="crumbsbar w-clearfix">
        <div class="crumbsbar__wrapper">
          <div data-delay="200" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>Las Vegas, NV</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list"><a href="car-rentals.html"
                  class="crumbsbar__link crumbsbar__link--inline w-inline-block">
                  <div>Las Vegas, NV</div>
                </a></div>
            </nav>
          </div><img
            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a5f52c6915f44000178c85e_right arrow.svg"
            alt="" class="crumbsbar__divider" />
          <div data-delay="0" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>Motorcycle</div>
              <div>s</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="car-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Cars</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="suv-rentals.html"
                        class="crumbsbar__link w-dropdown-link">SUVs</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="autocycle-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Autocycle</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="motorcycle-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Motorcycles</a></div>
                  </div>
                </div>
              </div>
            </nav>
          </div><img
            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a5f52c6915f44000178c85e_right arrow.svg"
            alt="" class="crumbsbar__divider" />
          <div data-delay="0" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div>All </div>
              <div>Touring Bikes</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="superbike-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Superbikes</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="sport-bike-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Sport Bikes</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="cruiser-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Cruisers</a></div>
                  </div>
                </div>
              </div>
            </nav>
          </div><img
            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a5f52c6915f44000178c85e_right arrow.svg"
            alt="" class="crumbsbar__divider" />
          <div data-delay="0" data-hover="1" class="crumbsbar__dropdown w-dropdown">
            <div class="crumbsbar__toggle w-dropdown-toggle">
              <div class="w-condition-invisible">Touring Bikes</div>
              <div>All Brands</div><img
                src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5a7e2fc2432d430001146dc7_icon-arrow-down-black.svg"
                alt="" class="crumbsbar__icon" />
            </div>
            <nav class="crumbsbar__pane w-dropdown-list">
              <div class="crumbsbar__list">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a href="ducati-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Ducati</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="bmw-motorrad-rentals.html"
                        class="crumbsbar__link w-dropdown-link">BMW Motorrad</a></div>
                    <div role="listitem" class="w-dyn-item"><a href="indian-rentals.html"
                        class="crumbsbar__link w-dropdown-link">Indian</a></div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="browse">
        <div class="browse__nav">
          <div class="browse__heading">
            <div class="browse__heading--embed w-condition-invisible w-embed">
              <h1 class="browse__h1">Motorcycle Rentals</h1>
            </div>
            <div class="browse__heading--embed w-embed">
              <h1 class="browse__h1"> Rentals</h1>
            </div>
            <div class="browse__heading--embed w-condition-invisible w-embed">
              <h1 class="browse__h1"> Rentals</h1>
            </div>
            <div class="browse__heading--embed w-condition-invisible w-embed">
              <h1 class="browse__h1"> Rentals</h1>
            </div>
            <p class="browse__desc w-condition-invisible">From superbikes to sport bikes; from cruising around town to
              touring around the country – we have motorcycles for every style and purpose!</p>
            <p class="browse__desc w-dyn-bind-empty"></p>
            <p class="browse__desc w-condition-invisible w-dyn-bind-empty"></p>
            <p class="browse__desc w-condition-invisible w-dyn-bind-empty"></p>
          </div>
          <div class="quicklinks quicklinks__browse w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item"><a href="ducati-rentals.html"
                  class="quicklinks__link w-inline-block"><img
                    src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a4eb5ce85390000019d730d_ducati-light-bg.svg"
                    alt="Ducati" class="quicklinks__logo" />
                  <div class="quicklinks__details">
                    <div>Ducati</div>
                    <div class="quicklinks__desc">1299, 959 Panigale</div>
                  </div>
                </a></div>
              <div role="listitem" class="w-dyn-item"><a href="bmw-motorrad-rentals.html"
                  class="quicklinks__link w-inline-block"><img
                    src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a10aaa4d85f4b0001a5415b_BMW-web.svg"
                    alt="BMW Motorrad" class="quicklinks__logo" />
                  <div class="quicklinks__details">
                    <div>BMW Motorrad</div>
                    <div class="quicklinks__desc">S1000RR</div>
                  </div>
                </a></div>
              <div role="listitem" class="w-dyn-item"><a href="indian-rentals.html"
                  class="quicklinks__link w-inline-block"><img
                    src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a4ed69d489f4600012fb1b7_indian-light-bg.svg"
                    alt="Indian" class="quicklinks__logo" />
                  <div class="quicklinks__details">
                    <div>Indian</div>
                    <div class="quicklinks__desc">Scout, Chieftan</div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
        <div class="browse__pane">
          <div class="w-dyn-list">
            <div class="cards__list--empty w-dyn-empty"></div>
          </div>
          <div class="w-dyn-list">
            <div class="cards__list--empty w-dyn-empty"></div>
          </div>
          <div class="w-dyn-list">
            <div class="cards__list--empty w-dyn-empty"></div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="rent__list w-dyn-items">
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../motorcycle-rentals/2018-indian-chieftain-white.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a4ed69d489f4600012fb1b7_indian-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/motorcycle-rentals"
                        data-reach-trending-slug="2018-indian-chieftain-white">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/motorcycle-rentals"
                        data-reach-trending-slug="2018-indian-chieftain-white" data-reach-trending-hide>1811cc 111
                        V-Twin</div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5e2f1d46a2f06023257c5a96_Exterior%20(%20Front%20Quarter%20).jpg" alt=""
                        class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5e2f1d3ce16b537e42f187d4_Exterior%20(%20Rear%20Quarter%20).jpg" alt=""
                        class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5e2f1d4a8dbc2f6af7dcdeb6_Exterior%20(%20Side%20Profile%20).jpg" alt=""
                        class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Indian Chieftain</div>
                      <div>4 Hrs: $</div>
                      <div>199</div>
                      <div>    |    8 Hrs: $</div>
                      <div>249</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>249</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">399</div>
                      </div>
                    </div>
                  </div>
                </a></div>
              <div role="listitem" class="rent__item w-dyn-item"><a
                  href="../motorcycle-rentals/2018-indian-chieftain-black.html"
                  class="rentals__link rentals__link--3x3 w-inline-block">
                  <div class="rentals__header"><img
                      src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53297/5a4ed69d489f4600012fb1b7_indian-light-bg.svg"
                      alt="" class="rentals__logo" />
                    <div class="trending__embed w-embed">
                      <div class="trending" data-reach-trending-directory="www.royaltyexoticcars.com/motorcycle-rentals"
                        data-reach-trending-slug="2018-indian-chieftain-black">
                        <div class="trending__wrapper">
                          <img
                            src="https://assets-global.website-files.com/5a10aaa4d85f4b0001a53292/5e540b14d9116b23f42894dd_fire-alt-duotone-red.svg"
                            data-w-id="7ae20523-12ff-5857-2440-beb0e0f41110_instance-0"
                            data-wf-id="[&quot;7ae20523-12ff-5857-2440-beb0e0f41110_instance-0&quot;]" alt=""
                            class="trending__icon">
                          <div class="trending__text">Trending Now</div>
                        </div>
                      </div>

                      <div class="rentals__label"
                        data-reach-trending-directory="www.royaltyexoticcars.com/motorcycle-rentals"
                        data-reach-trending-slug="2018-indian-chieftain-black" data-reach-trending-hide>1811cc 111
                        V-Twin</div>
                    </div>
                    <div class="rentals__label w-condition-invisible">Unavailable</div>
                  </div>
                  <div class="rentals__photos">
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5e2f1ce3b0305a3ef65d5ed1_Exterior%20(%20Front%20Quarter%20).jpg" alt=""
                        class="rentals__photo" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo--wrapper"><img
                        src="/frontEnd/5e2f1cdc89f8d44f3f3c8b26_Exterior%20(%20Rear%20Quarter%20).jpg" alt=""
                        class="rentals__photo rentals__photo--mobile" />
                      <div class="rentals__unavailable w-condition-invisible"></div>
                    </div>
                    <div class="rentals__photo rentals__photo--mobile rentals__thumb--mobile--cta"><img
                        src="/frontEnd/5e2f1ce98dbc2f3e92dc806e_Side%20Profile.jpg" alt=""
                        class="rentals__photo rentals__photo--mobile rentals__photo--blur" />
                      <div class="rentals__photo--overlay"></div>
                    </div>
                    <div class="rentals__photos--spacer"></div>
                  </div>
                  <div class="rentals__footer">
                    <div class="rentals__info">
                      <div class="rentals__title">Indian Chieftain</div>
                      <div>4 Hrs: $</div>
                      <div>199</div>
                      <div>    |    8 Hrs: $</div>
                      <div>249</div>
                    </div>
                    <div class="rentals__button">
                      <div class="rentals__button--label">24 Hours</div>
                      <div>$</div>
                      <div>249</div>
                    </div>
                    <div class="rentals__note">
                      <div class="rentals__note--text">*We beat competitor&#x27;s prices</div>
                      <div class="rentals__note--was">
                        <div class="rentals__note--text">normally $</div>
                        <div class="rentals__note--text">399</div>
                      </div>
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @endsection